<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Content List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success">
	
	<div class="galleryimg" style="text-align: center; margin-top: 10px;">

		<img width="350" height="auto" (click)="contentdetail()" src="assets/content-list.PNG">
		
	</div>

<!-- 	<ion-item button (click)="contentdetail()" style="padding-top: 5px; padding-left:5px; padding-right:5px">
	  <ion-label>
	    lorem ipsum dollar sit 1
	amet   </ion-label>
	     <ion-icon name="document" slot="end"></ion-icon>
	</ion-item>

	<ion-item button (click)="contentdetail()" style="padding-top: 5px; padding-left:5px; padding-right:5px">
	  <ion-label>
	     lorem ipsum dollar sit 2
amet 	  </ion-label>
	      <ion-icon name="document" slot="end"></ion-icon>
	</ion-item>

	<ion-item button (click)="contentdetail()" style="padding-top: 5px; padding-left:5px; padding-right:5px;">
	  <ion-label>
	       lorem ipsum dollar sit amet 3
	  </ion-label>
	     <ion-icon name="document" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="contentdetail()" style="padding-top: 5px; padding-left:5px; padding-right:5px;">
	  <ion-label>
	       lorem ipsum dollar sit amet 4
	  </ion-label>
	     <ion-icon name="document" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="contentdetail()" style="padding-top: 5px; padding-left:5px; padding-right:5px;">
	  <ion-label>
	       lorem ipsum dollar sit amet 5
	  </ion-label>
	     <ion-icon name="document" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="contentdetail()" style="padding-top: 5px; padding-left:5px; padding-right:5px;">
	  <ion-label>
	       lorem ipsum dollar sit amet 6
	  </ion-label>
	     <ion-icon name="document" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="contentdetail()" style="padding-top: 5px; padding-left:5px; padding-right:5px;">
	  <ion-label>
	       lorem ipsum dollar sit amet 7
	  </ion-label>
	     <ion-icon name="document" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="contentdetail()" style="padding-top: 5px; padding-left:5px; padding-right:5px;">
	  <ion-label>
	       lorem ipsum dollar sit amet 8
	  </ion-label>
	     <ion-icon name="document" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="contentdetail()" style="padding-top: 5px; padding-left:5px; padding-right:5px;">
		 <ion-label>
  		lorem ipsum dollar sit amet 9 
   </ion-label>
	     <ion-icon name="document" slot="end"></ion-icon>
	</ion-item>
	
	<ion-item button (click)="contentdetail()" style="padding-top: 5px; padding-left:5px; padding-right:5px;">
		 <ion-label>
  		lorem ipsum dollar sit amet 9 
   </ion-label>
	     <ion-icon name="document" slot="end"></ion-icon>
	</ion-item> -->


</ion-content>
