
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Video List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success">
<!-- 
	<ion-item button (click)="videodetail()">
	  <ion-label>
	    <iframe width="220" height="80" src="https://www.youtube.com/embed/K1QICrgxTjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  </ion-label>
	  <ion-icon name="videocam" slot="end"></ion-icon>
	</ion-item>

	<ion-item button (click)="videodetail()">
	    <ion-label>
	    <iframe width="220" height="80" src="https://www.youtube.com/embed/K1QICrgxTjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  </ion-label>
	   <ion-icon name="videocam" slot="end"></ion-icon>
	</ion-item>

	<ion-item button (click)="videodetail()">
	 <ion-label>
	    <iframe width="220" height="80" src="https://www.youtube.com/embed/K1QICrgxTjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  </ion-label>
	  <ion-icon name="videocam" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="videodetail()">
	    <ion-label>
	    <iframe width="220" height="80" src="https://www.youtube.com/embed/K1QICrgxTjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  </ion-label>
	  <ion-icon name="videocam" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="videodetail()">
	    <ion-label>
	    <iframe width="220" height="80" src="https://www.youtube.com/embed/K1QICrgxTjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  </ion-label>
	  <ion-icon name="videocam" slot="end"></ion-icon>
	</ion-item>	 -->

	   <img width="350" height="auto" src="assets/video-list.PNG" style="padding-left: 10px; margin-top: 10px;">



</ion-content>

