.ion-color-primary {
    --ion-color-base: #0695a0 !important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb, 56, 128, 255) !important;
    --ion-color-contrast: var(--ion-color-primary-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-primary-shade, #3171e0) !important;
    --ion-color-tint: var(--ion-color-primary-tint, #4c8dff) !important;
}

.ion-color-success {
    --ion-color-base: #1e7574 !important;
    --ion-color-base-rgb: var(--ion-color-success-rgb, 45, 211, 111) !important;
    --ion-color-contrast: var(--ion-color-success-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-success-shade, #28ba62) !important;
    --ion-color-tint: var(--ion-color-success-tint, #42d77d) !important;
}

.ioncard{
    background: #2ba7de;color: #fff;height: 60px;border-radius: 5px;

    h1 {
        margin-top: 0px;
        font-size: 23px;
    }
}
