<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Audio List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success">

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	   	<img width="350" height="80" src="assets/ui-green-audio-player.png">
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	     <img width="350" height="80" src="assets/ui-green-audio-player.png">
	  </ion-label>
	     <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	      <img width="350" height="80" src="assets/ui-green-audio-player.png">
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	      <img width="350" height="80" src="assets/ui-green-audio-player.png">
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	      <img width="350" height="80" src="assets/ui-green-audio-player.png">
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>	


</ion-content>
