<ion-header>
  <ion-toolbar>
    <ion-title>audio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	    Audio 1
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	     Audio 2
	  </ion-label>
	     <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	       Audio 3
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	       Audio 4
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	       Audio 5
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	       Audio 6
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	       Audio 7
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="audiodetail()">
	  <ion-label>
	       Audio 8
	  </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>	

	<ion-item button (click)="audiodetail()">
		 <ion-label>
  		Audio 9 
   </ion-label>
	    <ion-icon name="musical-notes" slot="end"></ion-icon>
	</ion-item>


</ion-content>
